<div class="container">
  <div class="upper-data">
    <img src="../assets/hot.jpg" *ngIf="14 <= 15">
    <img src="../assets/cold.jpg" *ngIf="14 > 15">
    <div class="weather-data">
      <div class="location">Santo Domingo</div>
      <div class="temperature">{{ 14.40 | number: '1.0-0'}}°C</div>
    </div>
  </div>
  
  <div class="lower-data">
    <div class="more-info-label">
      More Information
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/cold.png" alt="">
          <span>min</span>
        </div>
        <div class="info-block-value">
          17°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/sun.png" alt="">
          <span>max</span>
        </div>
        <div class="info-block-value">
          27°C
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/wind.png" alt="">
          <span>wind</span>
        </div>
        <div class="info-block-value">
          11 Km/h
        </div>
      </div>
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/defrosting.png" alt="">
          <span>humidity</span>
        </div>
        <div class="info-block-value">
          27%
        </div>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
